---
extends: default

ignore: |
  .venv/
  site/
  .worktrees/

rules:
  document-start: disable
  line-length: disable
  new-lines: disable
  truthy: disable
  indentation:
    spaces: 2
    indent-sequences: consistent
